@import '../../../../styles/vars.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/_animated.scss';
@import './animations.scss';

$solved-icon: $fa-var-check-circle;
$copy-icon: $fa-var-clone;

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

%solved-icon {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($solved-icon);
    color: rgb(78, 211, 78);
}

*[tabindex='-1']:focus {
    outline: 0;
}

.training {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: calc(100vh - 60px);
    overflow-y: hidden;
    min-width: $min-width;

    & > div {
        background: white;

        &.task-info {
            .title {
                position: sticky;
                z-index: 1;
                top: 0;
                background: white;
            }
        }

        &.task-editor {
            margin-left: 15px;
            width: auto !important;
        }

        & > .view {
            .questionbox,
            .resultbox,
            .tablesbox,
            .inputbox {
                position: relative;
                background: white;

                &:not(:first-child) {
                    margin-top: 10px;
                }

                .title,
                .content {
                    padding: 10px 15px;
                }

                .title {
                    font-weight: 600;
                    border-bottom: 2px solid #efefef;
                    font-size: 17px;
                    box-sizing: border-box;
                    height: 44px;
                }

                .content {
                    line-height: 1.4;
                }

                .placeholder {
                    padding: 7px 15px;
                }

                &[data-loading='true'] {
                    min-height: 120px;

                    &:after {
                        @extend %fa-icon;
                        @extend .fas;
                        animation: fa-spin 2s infinite linear;
                        font-size: 16px;
                        content: fa-content($fa-var-circle-notch);
                        margin-bottom: 1px;
                        position: absolute;
                        top: calc(50%);
                        left: calc(50% - 20px);
                        font-size: 40px;
                        color: #888;
                        z-index: 2;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background: #fff;
                        opacity: 0.7;
                        z-index: 2;
                    }
                }
            }

            .questionbox {
                position: relative;
                .title {
                    padding: 10px 0;
                    display: grid;
                    grid-template-columns: 48px 1fr 30px repeat(2, 25px);
                    align-items: center;
                    .question-counter {
                        display: flex;
                    }

                    .solved-icon {
                        &:after {
                            @extend %solved-icon;
                            margin-left: 8px;
                            font-size: 15px;
                            opacity: 1;
                        }
                    }

                    .test-info-icon {
                        &:after {
                            @extend %fa-icon;
                            @extend .far;
                            color: $icon-color;
                            content: fa-content($fa-var-chart-bar);
                            cursor: pointer;
                            transition: color 0.1s ease-in-out;
                            font-size: 15px;
                            opacity: 1;
                        }

                        &:hover {
                            &:after {
                                color: $icon-hover-color;
                            }
                        }
                    }

                    .copy-icon {
                        &:after {
                            @extend %fa-icon;
                            @extend .far;
                            color: $icon-color;
                            content: fa-content($copy-icon);
                            cursor: pointer;
                            transition: color 0.1s ease-in-out;
                            margin-left: 8px;
                            font-size: 15px;
                            opacity: 1;
                        }

                        &:hover {
                            &:after {
                                color: $icon-hover-color;
                            }
                        }
                    }

                    .menu-icon {
                        cursor: pointer;
                        height: 8px;
                        width: 20px;
                        margin-top: 2px;
                        justify-self: center;

                        &:hover {
                            &:before,
                            &:after {
                                background: $icon-hover-color;
                            }
                        }

                        &:before,
                        &:after {
                            content: '';
                            width: 20px;
                            height: 2px;
                            background: $icon-color;
                            position: absolute;
                        }

                        &:after {
                            margin-top: 4px;
                        }
                    }

                    .question__nav {
                        // width: 15px;
                        // height: 15px;
                        justify-self: left;
                        cursor: pointer;
                        color: $icon-color;

                        &.question-prev-icon,
                        &.question-next-icon {
                            &:after {
                                @extend %fa-icon;
                                @extend .fas;
                                color: $icon-color;
                                content: fa-content($fa-var-angle-left);
                                font-size: 15px;
                            }

                            &:hover {
                                &:after {
                                    color: $icon-hover-color;
                                }
                            }
                        }

                        &.question-next-icon {
                            &:after {
                                content: fa-content($fa-var-angle-right);
                            }
                        }

                        &:hover {
                            color: $icon-hover-color;
                        }
                    }
                }

                .content {
                    .show {
                        margin-top: 10px;
                        display: flex;
                        flex-wrap: wrap;

                        & > div {
                            margin-left: 5px;
                        }

                        .alias-icon {
                            &:after {
                                @extend %fa-icon;
                                @extend .fas;
                                color: #333;
                                content: fa-content($fa-var-mask);
                                margin-left: 5px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            .tablesbox {
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .db-diagram-icon {
                        &:after {
                            @extend %fa-icon;
                            @extend .fas;
                            content: fa-content($fa-var-sitemap);
                            color: $icon-color;
                            font-size: 12px;
                        }

                        &:hover {
                            &:after {
                                color: $icon-hover-color;
                            }
                        }
                    }
                }

                .table {
                    &[data-opened='true'] {
                        .table-title {
                            &:after {
                                margin-top: 0px;
                                transform: scaleY(-1) rotate(0deg);
                            }

                            background: #fafafa;
                        }
                    }

                    &:nth-child(2) {
                        .table-title {
                            border-radius: 0 0 4px 0;
                        }
                    }

                    .table-title {
                        padding: 8px 15px;
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        font-weight: 501;
                        outline: none;
                        border-radius: 0 4px 4px 0;

                        &:after {
                            @extend %fa-icon;
                            @extend .fas;
                            content: fa-content($fa-var-angle-down);
                            transform: scaleY(1) rotate(0deg);
                            transform-origin: center;
                            color: $icon-color;
                            margin-right: 3px;
                            // margin-top: 2px;
                        }

                        &:hover {
                            &:after {
                                color: $icon-hover-color;
                            }
                        }

                        &:hover {
                            background: lighten($icon-color, 40%);
                        }
                    }

                    .table-props {
                        .table-prop {
                            padding: 8px 15px;
                            padding-left: 35px;
                            position: relative;
                            word-break: break-all;
                            display: flex;
                            justify-content: space-between;
                            &.key {
                                &:before {
                                    @extend %fa-icon;
                                    @extend .fas;
                                    content: fa-content($fa-var-key);
                                    position: absolute;
                                    left: 12px;
                                    margin-top: 4px;
                                    font-size: 14px;
                                    color: #d6d639;
                                }
                            }
                        }
                    }
                }
            }

            .inputbox {
                z-index: 2;
                background: white;

                &.pinned {
                    position: sticky;
                    top: 0;
                }

                .tabs {
                    display: flex;
                    align-items: center;
                    box-shadow: inset 0 -4px 0 -2px #efefef;
                    box-sizing: border-box;
                    height: 44px;

                    & > div > div {
                        display: flex;

                        .tab {
                            list-style: none;
                            font-weight: 600;
                            font-size: 17px;
                            padding: 10px;
                            border-radius: 4px 4px 0 0;
                            cursor: pointer;
                            display: flex;
                            margin-right: 5px;
                            align-items: center;
                            box-sizing: border-box;
                            height: 42px;
                            position: relative;

                            &:last-child {
                                margin-right: 0px;
                            }

                            &:hover {
                                background: #fafafa;
                            }

                            &.active {
                                background: #f6f6f6;
                                z-index: 2;

                                .tab-close {
                                    &:after {
                                        display: block;
                                    }
                                }
                            }

                            .tab-close {
                                display: flex;

                                &:after {
                                    @extend %fa-icon;
                                    @extend .fas;
                                    content: fa-content($fa-var-times);
                                    font-size: 11px;
                                    display: none;
                                    margin-left: 10px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                }

                .textarea-scrollbar {
                    height: 220px !important;
                    background: #f6f6f6;
                    border-radius: 0 0 0 4px;
                }

                .textarea {
                    padding: 10px 15px !important;
                    min-height: 220px;
                    line-height: 1.3em;
                    font-family: 'Fira Mono', Arial, monospace !important;
                    font-size: 15px;
                    white-space: pre;

                    textarea {
                        outline: none !important;
                        padding: inherit !important;
                        font-family: 'Fira Mono', Arial, monospace !important;

                        &::selection {
                            background: #d6d639 !important;
                        }
                    }
                }

                .check-sql {
                    border: none;
                    background: #8255ca;
                    color: white;
                    border-radius: 50%;
                    bottom: 20px;
                    right: 15px;
                    position: absolute;
                    outline: none;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    transition: all 0.2s ease-in-out;
                    display: flex;
                    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);

                    &:hover {
                        background: $icon-hover-color;
                    }

                    &:after {
                        @extend %fa-icon;
                        @extend .fas;
                        content: fa-content($fa-var-play);
                        margin-bottom: 1px;
                        font-size: 14px;
                        margin: auto;
                    }

                    &[data-loading='true'] {
                        &:after {
                            @extend %fa-icon;
                            @extend .fas;
                            animation: fa-spin 2s infinite linear;
                            font-size: 16px;
                            content: fa-content($fa-var-spinner);
                        }
                    }

                    &:disabled {
                        background: #777;
                        cursor: unset;
                        box-shadow: none;
                    }
                }
            }

            .resultbox {
                opacity: 1;
                transition: all 0.2s ease-in-out;
                &.checking {
                    opacity: 0.2;
                }
            }
        }
    }
}

.all-questions {
    position: fixed;
    left: -800px;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 400px;
    background: #323252;
    color: #d4d5d6;
    z-index: 4;
    letter-spacing: 0.5px;
    transition: left 0.3s ease-in-out;

    h2 {
        padding-left: 25px;
        color: white;
        line-height: 1em;
    }
    .question {
        padding: 15px 25px;
        line-height: 1.4;

        &.solved {
            padding-right: 40px;
            position: relative;
            &:after {
                @extend %solved-icon;
                position: absolute;
                right: 14px;
                top: calc(50% - 7px);
            }
        }
        &:hover {
            background: #3f3f5f;
            cursor: pointer;
            color: white;
        }
        &.active {
            background: #555581;
            cursor: pointer;
            color: white;
        }
    }
}

.all-questions-active {
    left: 0;
}

.all-questions-bg {
    position: fixed;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.all-questions-bg-active {
    opacity: 1;
    pointer-events: unset;
}

.test-completed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;

    h1,
    h2,
    h3 {
        margin: 0;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

.indicator {
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.1s ease-in-out;

    &.success {
        border-color: rgb(78, 211, 78);
    }

    &.error {
        border-color: rgb(224, 37, 37);
    }
}

.tools {
    align-items: center;
}

.tool-icon {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;

    &:after {
        font-size: 18px;
        @extend %fa-icon;
        // border-radius: 50%;
        background: transparent;
        transition: all 0.2s ease-in-out;
        padding: 5px;
        color: $icon-color;
        transform: scale(1.04);
    }

    &:hover {
        &:after {
            color: $icon-hover-color;
        }
    }

    &.questionmark-icon {
        &:after {
            @extend .fas;
            content: fa-content($fa-var-question-circle);
        }
    }

    &.pin {
        &:after {
            font-size: 16px;
            @extend .fas;
            content: fa-content($fa-var-map-pin);
        }

        animation: pinOut 0.4s ease-in-out forwards;
    }

    &.pin-active {
        animation: pin 0.4s ease-in-out forwards;
    }

    &.add-tab {
        &:after {
            font-size: 16px;
            @extend .fas;
            content: fa-content($fa-var-plus);
        }
    }
}

.panel-body {
    // height: 0;
    overflow: hidden;
    // transition: height 0.2s ease-in-out;
}

.help-accordion-button {
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-weight: 501;
    outline: none;
    font-size: 16px;

    &:hover {
        background-color: lighten($icon-color, 40%);
    }

    &:after {
        transform: scaleY(1) rotate(0deg);
        transform-origin: center;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-down);
        color: currentColor;
        margin-right: 3px;
        // margin-top: 3px;
        height: 12px;
    }
}

.help-accordion {
    &[data-opened='true'] {
        .help-accordion-button {
            &:after {
                margin-top: 3px;
                transform: scaleY(-1) rotate(0deg);
            }
        }
    }
}

.help-accordion-panel {
    .panel-content {
        padding: 10px 20px;
    }
    p,
    ul {
        margin: 0;
    }

    ul {
        padding-left: 30px;
    }

    p {
        padding-left: 0px;
    }

    &.table-props {
        padding: 0;
    }
}

.editor-theme-preview {
    padding: 15px;
    border-radius: 4px;
    background: #f6f6f6;
    margin-top: 10px;
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
}

.test-loader-error {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.autocompletion {
    display: flex;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    background: white;
    flex-direction: column;
    z-index: 3;
    transform-origin: top left;
    max-height: 300px;
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
    overflow-y: auto;

    .keyword-info-block {
        position: absolute;
        left: 100%;
        margin-left: 5px;
        max-width: 200px;
        background: white;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        transition: opacity 0.1s ease-in-out;
    }

    .keyword {
        min-height: 28px;
        display: flex;
        align-items: center;
        padding: 0 7px;
        min-width: 140px;
        cursor: pointer;
        line-height: 16px;

        &:hover {
            background: #fafafa;
        }

        &.selected {
            background: lighten($icon-color, 40%);
        }

        &.star {
            &:before {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-star);
                color: #333;
                font-size: 8px;
                margin-right: 5px;
            }
        }

        .keyword-type {
            &:after {
                @extend %fa-icon;
                color: #333;
                font-size: 12px;
                margin-right: 5px;
                margin-bottom: 2px;
            }

            &.table {
                &:after {
                    @extend .fas;
                    content: fa-content($fa-var-table);
                }
            }

            &.snippet {
                &:after {
                    @extend .fas;
                    content: fa-content($fa-var-code);
                }
            }

            &.prop {
                &:after {
                    @extend .fas;
                    content: fa-content($fa-var-wrench);
                }
            }

            &.function {
                &:after {
                    content: '()';
                }
            }
        }

        .keyword-text {
            width: 100%;
        }

        .keyword-info {
            &:after {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-info-circle);
                color: #333;
                font-size: 12px;
                margin-right: 5px;
                margin-bottom: 2px;
            }
        }

        b {
            font-weight: normal;
            background: #ddd;
            border-radius: 4px;
        }
    }
}

label.ac-switch {
    display: flex;
    align-items: center;
    height: 20px;
    span {
        line-height: 17px;
        height: 20px;
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    line-height: 1.3em;
}

.shortcuts {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    grid-row-gap: 9px;
    line-height: 1;
    align-items: center;

    .shortcut {
        display: flex;
        align-items: center;
        padding: 3px;
        margin-left: 16px;

        &:before {
            content: '';
            background: rgba(0, 0, 0, 0);
            transition: background 0.235s ease-in-out;
        }

        .shortcut-keys {
            display: flex;
            align-items: center;

            .key {
                padding: 3px 5px;
                margin: 0 6px;
                border-radius: 4px;
                background: #fafafa;
                line-height: 1;
                font-size: 14px;
                border: 1px solid #ccc;
                border-bottom-color: #888;
                border-left-color: #aaa;
                border-right-color: #aaa;
                min-width: 14px;
                text-align: center;
                transition: all 0.05s ease-in-out;
                font-weight: 501;

                &:first-of-type {
                    margin-left: 0px;
                }

                &:last-of-type {
                    margin-right: 0px;
                }
            }

            &:hover {
                cursor: pointer;

                .key {
                    background: #efefef;
                }
            }

            &.help-modal {
                &:hover {
                    cursor: default;

                    .key {
                        background: #fafafa;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                .key {
                    background: #efefef;
                }
            }
        }

        &.detector-enabled {
            position: relative;
            z-index: 99;

            &:before {
                left: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                position: fixed;
                background: rgba(0, 0, 0, 0.1);
                cursor: pointer;
                z-index: 98;
            }

            .shortcut-keys {
                position: relative;
                z-index: 99;

                &.tremble {
                    animation: Tremble 0.15s ease-in-out;
                }

                .key {
                    background: #fff !important;
                }
            }
        }
    }
}

@keyframes Tremble {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}
