.response-table {
    &.pinned {
        .fields {
            top: 279px;
        }
    }

    .fields,
    .rows {
        display: flex;
        .field,
        .data {
            flex: 1 0 50px;
            width: 100%;
            padding: 10px;
            &:not(:first-child) {
                border-left: 1px solid #efefef;
            }
        }
    }

    .fields {
        position: sticky;
        top: 0;
        background: #f6f6f6;
        border-radius: 4px 0 0 4px;
        &:before {
            content: '';
            height: 10px;
            width: 100%;
            margin-top: -10px;
            position: absolute;
            background: white;
        }

        .field {
            font-weight: 600;
            // padding-top: 8px;
        }
    }

    .rows {
        flex-direction: column;
        .row {
            display: flex;
            &:hover {
                background: #fbfbfb;
                border-radius: 4px 0 0 4px;
            }

            .data {
                padding: 8px 10px;
                word-break: break-all;
            }
        }
    }
}
