.logo {
    height: 40px;
    width: 190px !important;
    // background: #8190a5;
    display: grid;
    grid-template-columns: calc(26% - 4px) calc(12% - 4px) calc(21% - 4px) 41%;
    grid-gap: 4px;
    align-content: center;
    // animation: logoWidthChange 0.1s ease-in-out both;
    .logo__quarter {
        height: inherit;
        height: 20px;
        border-radius: 4px;
        background: #47525e !important;
        &:nth-child(1) {
            background: #1284b2;
        }
        &:nth-child(2) {
            background: #b2a900;
        }
        &:nth-child(3) {
            background: #1284b2;
        }
        &:nth-child(4) {
            background: #b2a900;
        }
    }
}
