$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

body {
    box-sizing: border-box;
    margin: 0px;
    font-family: $main-font;
    color: #333;
}

b {
    font-weight: 501;
}
