.switch {
    width: 40px;
    height: 20px;
    background: transparent;
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:before {
        content: '';
        background: white;
        height: 18px;
        width: 18px;
        margin-top: 1px;
        position: absolute;
        left: 0px;
        transform: translateX(1px);
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    }

    &.on {
        background: #8255ca;

        &:before {
            animation: switch 0.2s linear forwards;
        }
    }

    &.off {
        background: #ec3d3d;

        &:before {
            animation: switchOff 0.2s linear forwards;
        }
    }

    input {
        width: 0;
        height: 0;
    }
}

@keyframes switch {
    0% {
        transform: translateX(1px) scale(1);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    }

    50% {
        transform: translateX(11px) scale(0.9);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    }

    100% {
        transform: translateX(21px) scale(1);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    }
}

@keyframes switchOff {
    0% {
        transform: translateX(21px) scale(1);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    }

    50% {
        transform: translateX(11px) scale(0.9);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    }

    100% {
        transform: translateX(1px) scale(1);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    }
}
