.modal {
    margin: auto;
    min-width: 400px;
    min-height: 150px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    z-index: 3;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    &.opened {
        display: flex;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0;
        font-size: 19px;
        font-weight: 500;
        font-family: inherit;
        line-height: 16px;
        margin-bottom: 22px;
    }

    .modal-close {
        font-size: 16px;
        cursor: pointer;
    }

    .modal-content {
        margin: 0 -20px;
        height: calc(100% - 40px);
    }
}

.modal-background {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.modal-area {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
