@import '../../../styles/vars.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

.header {
    .content {
        display: flex;
        min-height: 60px;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: space-between;
        overflow-x: hidden;
        .header__logo {
            display: flex;
            align-items: center;
            position: relative;

            .logo {
                height: 40px;
                width: 180px;
                display: grid;
                grid-template-columns: calc(26% - 4px) calc(12% - 4px) calc(21% - 4px) 41%;
                grid-gap: 4px;
                align-content: center;
                .logo__quarter {
                    height: inherit;
                    height: 20px;
                    border-radius: 4px;
                    background: #47525e !important;
                    &:nth-child(1) {
                        background: #1284b2;
                    }
                    &:nth-child(2) {
                        background: #b2a900;
                    }
                    &:nth-child(3) {
                        background: #1284b2;
                    }
                    &:nth-child(4) {
                        background: #b2a900;
                    }
                }
            }
        }

        .header__nav {
            display: grid;
            grid-template-columns: 1fr max-content;
            align-items: center;

            .nav-links {
                display: flex;
                overflow: hidden;
                &.scrollbar-container {
                    height: auto !important;
                    .ps__rail-x {
                        height: 0;
                        display: none;
                        opacity: 0;
                        .ps__thumb-x {
                            height: 2px;
                            margin-bottom: -2px;
                        }
                    }
                }
                .nav-item {
                    margin-right: 20px;
                }
            }
            .nav-item {
                white-space: nowrap;
                &.login-button {
                    // border-left: 1px solid;
                    // padding-left: 20px;
                    position: relative;
                    &:after {
                        @extend %fa-icon;
                        @extend .far;
                        content: fa-content($fa-var-user-circle);
                        color: #3d3d3d;
                        font-size: 30px;
                    }
                }

                .nav-link-active {
                    font-weight: 700;
                }

                a {
                    font-size: 0.95em;
                    color: #3d3d3d;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .tools {
            display: none;
            margin-right: 5px;

            .tool-icon {
                font-size: 20px;
                margin-right: 10px;

                &:after {
                    @extend %fa-icon;
                    @extend %icon;
                    color: #3d3d3d;
                }

                &.settings-icon {
                    &:after {
                        @extend .fas;
                        content: fa-content($fa-var-cog);
                    }
                }
            }
        }
    }
}

%icon {
    @extend %fa-icon;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease-in-out;
    padding: 5px;

    &:hover {
        background: rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
}

.training-component {
    .tools {
        display: flex !important;
    }

    .header__nav {
        grid-template-columns: 1fr max-content max-content !important;
    }
}
