@import '../../../styles/vars.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

.header {
    .content {
        display: flex;
        min-height: 20px;
        margin: 0 auto;
        padding: 15px 40px;
        justify-content: space-between;
        overflow-x: hidden;

        .header__logo {
            display: flex;
            align-items: center;
            position: relative;
            height: 30px;

            .logo {
                height: 30px;
                width: 180px;
                display: grid;
                grid-template-columns: calc(26% - 4px) calc(12% - 4px) calc(21% - 4px) 41%;
                grid-gap: 4px;
                align-content: center;
                .logo__quarter {
                    height: inherit;
                    height: 20px;
                    border-radius: 4px;
                    background: #47525e !important;
                    &:nth-child(1) {
                        background: #1284b2;
                    }
                    &:nth-child(2) {
                        background: #b2a900;
                    }
                    &:nth-child(3) {
                        background: #1284b2;
                    }
                    &:nth-child(4) {
                        background: #b2a900;
                    }
                }
            }
        }

        .header__nav {
            display: flex;
            width: 100%;
            align-items: center;
            padding-left: 20px;
            position: relative;

            .nav-links {
                .navbar-view {
                    display: flex;
                }

                .nav-item {
                    margin-right: 20px;
                    align-self: center;

                    &:first-child {
                        margin-left: auto;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .nav-item {
                white-space: nowrap;

                .nav-link-active {
                    font-weight: 700;
                }

                a {
                    font-size: 0.95em;
                    color: #3d3d3d;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 501;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .tools {
            display: none;
            margin-left: 12px;

            .tool-icon {
                margin-right: 0 !important;

                &:after {
                    @extend %fa-icon;
                    @extend %icon;
                    color: #3d3d3d;
                }

                &.settings-icon {
                    &:after {
                        font-size: 20px;
                        @extend .fas;
                        content: fa-content($fa-var-cog);
                    }
                }

                &.login-button {
                    margin-left: 10px;
                    position: relative;
                    &:after {
                        @extend %fa-icon;
                        @extend .far;
                        content: fa-content($fa-var-user-circle);
                        color: #3d3d3d;
                        font-size: 30px;
                        padding: 0;
                    }

                    &:hover {
                        &:after {
                            background: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

%icon {
    @extend %fa-icon;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease-in-out;
    padding: 5px;

    &:hover {
        background: rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
}

.training-component {
    .header {
        min-width: $min-width;

        .content {
            padding: 15px 20px;
        }
    }

    .tools {
        display: flex !important;
    }

    .header__nav {
        grid-template-columns: 1fr max-content max-content !important;
    }
}

.logo-link {
    text-decoration: none;
}

.logo-sa {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;

    .dot {
        font-size: 40px;
        margin-top: -15px;
        color: $icon-color;
        transform: scaleX(0.9);
    }
}
