.handbook-page {

    .wrapper {
        display: flex;

        .nav {
                
            .nav_prev {
                position: fixed;
                top: calc(50vh - 20px);
                font-size: 2em;

                &.--opened {
                    left: 270px;
                }

                &:hover {
                    cursor: pointer;
                }

                a {
                    color: #666;

                    &:hover {
                        color: #8255ca;
                    }
                    
                    .icon {
                        padding: 15px 27px;
                    }
                }
            }

            .nav_next{
                position: fixed;
                top: calc(50vh - 20px);
                font-size: 2em;
                right: 0px;

                &:hover {
                    cursor: pointer;
                }

                a {
                    color: #666;

                    &:hover {
                        color: #8255ca;
                    }
                    
                    .icon {
                        padding: 15px 27px;
                    }
                }
            }
        }

        .aside {

            .handbook__menu {
                position: sticky;
                top: 0px;
                height: 100vh;
                width: 270px;
                background: #f2f2f2;
                box-shadow: 0px 0px 1px #47515e;
                transition: .3s;

                .toggle {

                    button {
                        position: absolute;
                        right: -50px;
                        top: 20px;
                        background: none;
                        border: none;
                        font-size: 1.5em;
                        color: #666;
                        outline: none;
                        cursor: pointer;

                        &:hover {
                            color: #8255ca;
                        }
                    }
                }

                .content {

                    .nav {
                        padding: 40px 30px 20px;

                        .title {
                            color: #aaa;
                        }

                        .links {
                            margin-top: 20px;
                            margin-left: 10px;

                            .link {
                                margin-bottom: 10px;

                                a {
                                    color: #666;
                                    text-decoration: none;

                                    &:hover {
                                        color: #8255ca;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.--closed {
                width: 0px;
            }
            
            &.--closed .handbook__menu {
                transform: translateX(-100%);
            }
        }

        .main {
            margin: 60px auto;
            padding: 0 70px;
            max-width: 700px;
    
            .content {
                
                h3 {
                    margin-top: 35px;

                    a {
                        text-decoration: none;
                    }
                }

                p {
                    line-height: 1.5em;
                }
            }
        }
    }
}