.home-component {
    @media screen and (max-width: 1097px) {
        .steps {
            grid-template-columns: repeat(3, 1fr) !important;
        }
    }

    @media screen and (max-width: 830px) {
        .steps {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }

    @media screen and (max-width: 723px) {
        .title {
            line-height: 42px;
        }
    }

    @media screen and (max-width: 646px) {
        .feature {
            grid-template-columns: 1fr !important;

            .feature__title {
                margin-top: 0 !important;
                padding-top: 0 !important;
            }

            .feature__text {
                padding-left: 0 !important;
                font-size: 1rem !important;
            }

            .feature__image {
                display: none;
            }
        }

        .about-us-block__text {
            font-size: 1rem !important;
        }
    }

    @media screen and (max-width: 585px) {
        .home > .main {
            .steps-block {
                .content {
                    h1 {
                        text-align: center;
                    }

                    .steps {
                        margin-top: 0;

                        .step {
                            justify-self: center;
                            height: 60px;

                            &:not(:last-child) {
                                margin-bottom: 0px;
                            }

                            &:last-child {
                                margin-bottom: 30px;

                                .step__top {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }

                            .step__top {
                                &:after {
                                    transform: rotateZ(90deg);
                                    width: 20px;
                                    border-top: 4px dotted #aaa;
                                    border-radius: 0;
                                    top: 57px;
                                    left: 50%;
                                }

                                .step__icon {
                                    display: none;
                                }
                            }
                            .step__info {
                                margin-left: 0;

                                .step__description {
                                    margin-left: 15px;
                                }
                            }
                        }
                        align-self: center;
                        grid-template-columns: 1fr !important;
                    }
                }
            }
        }

        .features-block {
            margin-top: 40px !important;

            .content {
                grid-template: auto/1fr !important;
                border: none !important;
                grid-gap: 0 !important;

                .feature {
                    padding: 20px 40px !important;
                    &:hover {
                        box-shadow: unset !important;
                    }
                }

                .feature.question {
                    grid-area: unset !important;
                    a {
                        align-self: center !important;
                        font-size: 20px !important;
                        margin-top: 50px !important;
                        padding: 15px 23px !important;
                    }
                }
            }
        }
    }
}
