.footer {
    font-weight: 501;
    text-transform: uppercase;

    .content {
        color: #444;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px;
    }
}
