.footer {
    // background: #343f4b;
    border-top: 1px solid #f0f0f0;

    .content {
        color: #444;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px;
    }
}
